---

import '../../src/styles/global.css'
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/post/*.md');
---

<BaseLayout pageTitle='Blog'>
  
  <h1>Mi blog de Astro aprendizaje</h1>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
  
</BaseLayout>

<!-- <html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
   
  </body>
</html> -->