---

import '../../src/styles/global.css'
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/post/*.md');

---

<BaseLayout pageTitle='Lugares'>
  
  <h1>Mi blog de Astro aprendizaje</h1>
    adsadasds
</BaseLayout>

