---
import '../../src/styles/global.css';
import Header from '../components/Header.astro';
const pageTitle = "Lugares";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <div class="places-list">
        <ul>
          <li>
              <a href="/machu-picchu" class="place-item">
                <span class="place-title">Machu Picchu</span>
                <img src="/inicio.jpg" alt="Lugar 1" />
            </a>
          </li>
          <li>
              <a href="/about" class="place-item">
                <span class="place-title">Titicaca</span>
              <img src="/lago-titicaca-1.jpg" alt="Lugar 2" />
            </a>
          </li>
          <li>
            <a href="/about" class="place-item">
                <span class="place-title">Lima</span>
              <img src="/lima.jpg" alt="Lugar 3" />
            </a>
          </li>
          <li>
            <a href="/about" class="place-item">
                <span class="place-title">Cusco</span>
              <img src="/cusco.jpg" alt="Lugar 4" />
            </a>
          </li>
          <li>
            <a href="/about" class="place-item">
                <span class="place-title">Linea de Nazca</span>
              <img src="/linea-nazca.jpg" alt="Lugar 6" />
            </a>
          </li>
          <li>
            <a href="/about" class="place-item">
                <span class="place-title">Arequipa</span>
              <img src="/arequipa.jpg" alt="Lugar 6" />
            </a>
          </li>
          <li>
            <a href="/about" class="place-item">
                <span class="place-title">Trujillo</span>
              <img src="/trujillo.jpg" alt="Lugar 7" />
            </a>
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 8"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Iquitos</span>
                <img src="/iquitos.jpg" alt="Lugar 9"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Ayacucho</span>
                <img src="/ayacucho.jpg" alt="Lugar 10"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chachapoyas</span>
                <img src="/chachapoyas.jpg" alt="Lugar 11"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Paracas</span>
                <img src="/paracas.jpg" alt="Lugar 12"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Huancayo</span>
                <img src="/huancayo.jpg" alt="Lugar 13"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Cajamarca</span>
                <img src="/cajamarca.jpg" alt="Lugar 14"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Piura</span>
                <img src="/piura.jpg" alt="Lugar 15"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 16"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 17"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 18"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 19"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 20"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 21"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 22"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 23"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 24"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 25"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 26"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 27"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 28"/>     
            </a>            
          </li>
          <li>
            <a href="about" class="place-item">
                <span class="place-title">Chiclayo</span>
                <img src="/chiclayo.jpg" alt="Lugar 29"/>     
            </a>            
          </li>
        </ul>
      </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
