.train-image {
  max-width: 35%; /* Ajusta el tamaño máximo de la imagen al contenedor */
  height: auto; /* Ajusta la altura automáticamente proporcionalmente al ancho */
  display: block; /* Para evitar espacios no deseados */
  margin-top: 10px; /* Ajusta el margen superior según necesites */
  cursor: pointer;
}
.train-image:hover {
  transform: scale(1.1); /* Escala la imagen al 110% en el hover */
  box-shadow: 0 8px 16px rgba(204, 145, 145, 0.2); /* Aumenta ligeramente la sombra al hover */
  margin: 20px;
  
}
.bus-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.bus-image:hover {
   transform: scale(1.1); /* Escala la imagen al 110% en el hover */
  transform: scale(1.1); /* Escala la imagen al 110% en el hover */
  box-shadow: 0 8px 16px rgba(204, 145, 145, 0.2); /* Aumenta ligeramente la sombra al hover */
  margin: 20px;
  
}
.caminando-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.caminando-image:hover {
  transform: scale(1.1); /* Escala la imagen al 110% en el hover */
  box-shadow: 0 8px 16px rgba(204, 145, 145, 0.2); /* Aumenta ligeramente la sombra al hover */
  margin: 20px;
  
}
.templo-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.plaza-sagrada-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.roca-sagrada-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.intihuatana {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}