.train-image {
  max-width: 35%; /* Ajusta el tamaño máximo de la imagen al contenedor */
  height: auto; /* Ajusta la altura automáticamente proporcionalmente al ancho */
  display: block; /* Para evitar espacios no deseados */
  margin-top: 10px; /* Ajusta el margen superior según necesites */
  cursor: pointer;
}
.bus-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.caminando-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.templo-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.plaza-sagrada-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.roca-sagrada-image {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.intihuatana {
  max-width: 35%;
  height: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}